bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
SocketServer/appsettings.json
SocketServer.sln.DotSettings.user
SocketServer/MobileLink.db
SocketServer/MobileLink.db-shm
SocketServer/MobileLink.db-wal
